#contact {
  clip-path: polygon(30% 0, 100% 19%, 100% 100%, 0 100%, 0 16%);
 
}

.contact-icon:hover,
.contact-email:hover {
  color: rgb(136, 136, 136);
}


.light-skills-and-contact-img {
  background-image: url(../../images/Mystic.jpg);
  background-size: cover;
}

.dark-skills-and-contact-img{
  background-image: url(../../images/dark-bg-img.jpg);
  background-size: cover;
}