.light-intro-image {
  background-image: url("../../images/tastatura.jpg");
  background-size: cover;
}

.dark-intro-image {
  background-image: url("../../images/dark-keyboard.jpg");
  background-size: cover;
}

.intro-wrapper {
  clip-path: polygon(100% 0, 100% 80%, 63% 98%, 0 79%, 0 0);
  height: 90vh;
}

.last-name {
  font-weight: 700;
}

.my-name {
  height: 100%;
}

.intro-about-me {
  font-weight: 700;
}

.logo {
  font-family: "Marck Script", cursive;
  font-size: 80px;
}

.logo:hover {
  color: rgba(136, 136, 136) !important;
}



/* animation */
/* p animation */
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1) both infinite;
  animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1) both infinite;
}

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
